.card {
  padding: 16px 20px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  width: 28vw;
  cursor: pointer;
  border: 2px solid transparent;
}
.card:hover {
  transform: scale(1.05);
  border: 2px solid #ddd;
}
.title, .desc {
  margin: 0;
}
.title {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}
.desc {
  font-size: 14px;
  color: #666;
}