body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.baseCard {
  padding: 20px;
  display: flex;
}
.baseSiler {
  width: 30%;
}
.p20 {
  padding: 20px;
}

.baseBtn {
  border-radius: 4px;
  padding: 4px 10px;
  color: #fff;
  background-color: rgb(2, 79, 114);
  font-size: 15px;
  cursor: pointer;
}